* {
  box-sizing: border-box;
}

:root {
  --gray: rgb(69, 64, 64);
  --light: rgb(64, 200, 200);
  --darkblue:rgb(97, 95, 95);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a{
  text-decoration: none;
  color:black
}

a:hover{
  color:white;
}

p {
  margin: 0;
}

/* header styling starts here */

header {
  display: inline-block;
  background-color: var(--gray);
  width: 100%;
  height: 30%;
  padding: 30px;
}

header h1 {
  background-color: var(--light);
  width: 25%;
  height: auto;
  margin: 0px;
  margin-top: 40px;
  margin-left: 10px;
}

header nav {
  float: right;
  margin-top: -60px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  text-decoration: underline;
  color:var(--light)
}

header nav ul li a {
  display: flex;
  color: var(--light);
  justify-content: space-evenly;
  align-items: space-evenly;
  padding: 0px 40px 0px 40px;
  font-size: 25px;
}

header nav ul li a:hover{
  color: white;
}

/* background container styling starts here  */

.hero-banner h2 {
  width: auto;
  position: absolute;
  color: black;
  background-color: var(--light);
  padding: 8px;
  margin-top: 190px;
  left: 75%;
  font-size: 30px;
}

.backgroundcover h2 a:hover{
  color:white;
}

.hero-banner div img{
  width: 100%;
  height: 300px;
}

.backgroundcover {
  width:15%;
  height: 300px;
}

.background{
  display: flex;
  width: 87%;
  height:auto;
  margin-top: -300px;
  float: right;
}

/* about me section styling starts here */

#page-wrapperArea {
  display: grid;
  min-height: 800px;
  height: 100vh;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 100%;
  grid-template-areas:
    "about"
    "work"
    "contact ";
}

#about {
  margin: 10px;
}

.aboutus {
  display: grid;
  min-height: 190px;
  margin: 0px;
  height: 195px;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  grid-template-areas: "aboutheading aboutcontent ";
}

#aboutheading {
  color:var(--darkblue);
  grid-area: aboutheading;
  margin: 0px 10px 0px 40px;
  width: 30px;
  font-size: 50px;
}

#aboutcontent {
  grid-area: aboutcontent;
  
  border-left: 5px solid var(--darkblue);
  padding: 20px;
}

/*my work section styling starts here */

#work {
  grid-area: work;
  margin: 10px;

}

.mywork {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  grid-template-areas: "workheading workGrid";
}

#workheading {
  color:var(--darkblue);
  grid-area: workheading;
  margin: 20px 0px 0px 40px;
  width: 30px;
  font-size: 35px;
}

#workGrid {
  display: grid;
  border-left: 5px solid var(--darkblue);
  height: 100%;
  min-height: 90%;
  grid-template-areas:
    "iot iot"
    "ai website"
    "calculator game";
}

#iot {
  grid-area: iot;
  border: 10px solid var(--light);
  background-image: url("./assets/images/02-hero-bg.jpg");
}

#ai {
  grid-area: ai;
  border: 10px solid var(--light);
  background-image: url("./assets/images/02-portfolio-2.jpg");
}

#website {
  grid-area: website;
  border: 10px solid var(--light);
  background-image: url("./assets/images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  border: 10px solid var(--light);
  background-image: url("./assets/images/02-portfolio-1.jpg");
}

#game {
  grid-area: game;
  border: 10px solid var(--light);
  background-image: url("./assets/images/02-portfolio-1.jpg");
}

.workGridArea:hover{
  background-color: rgb(107, 160, 160);
}

.workGridArea {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  color:var(--darkblue);
  font-size: 20px;
  margin: 5px;
}

.heading_iot,
.heading_ai,
.heading_web,
.heading_game {
  position: absolute;
  top: 10px;
  bottom: 10px;
  border: 5px solid var(--light);
  width: 200px;
 
}

.heading_cal {
  position: absolute;
  border: 5px solid var(--light);
  width: 180px;
  top: 10px;
  bottom: 10px;
}

/* contact section styling starts here */

#contact {
  grid-area:contact;
  margin: 0px;
}

.contactus {
  display: grid;
  min-height: 190px;
  margin: 10px;
  height: 195px;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  grid-template-areas: "aboutheading aboutcontent ";
}

#contactheading {
  color:var(--darkblue);
  grid-area: aboutheading;
  width: 30px;
  font-size: 50px;
}

#contactcontent {
  grid-area: aboutcontent;
  margin: 0px;
  border-left: 5px solid var(--darkblue);
}

#contactcontent li{
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  color:var(--darkblue);
  margin-left:80px;
  margin-top:50px;
  font-size:18px;
}

#contactcontent li a{
  color:var(--darkblue);
}

